.custom_link {
  color: #7D7C7C;
  position: relative;
  transition: color 0.2s ease-in;
}

.custom_link.active::after {
  opacity: 1;
  color: #000;
}

.custom_link:hover {
  color: #000;
}

.custom_link::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #dc3545;
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.active::after {
  opacity: 1;
}

/* BSU LOGO */
.Nav_logo {
  background-image: url('./logo.svg');
  width: 6vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  display: inline-block;
}

/* BSU LOGO */
.logo {
  background-image: url('./logo.svg');
  width: 10vh;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  display: inline-block;
}

/* BSU LOGO for LGN SGNP*/
.logolg {
  background-image: url('./logo.svg');
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  display: inline-block;
}
/* CARDS HOVER */
.cards {
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.05);
  /* Increase the size by 5% on hover */
}

/* IMAGE BG LOGIN */
.backgroundlogin {
  background-image: url("./bsuMain.jpg");
  /* Update with your image path */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIGNUP AND LOGIN CARD */
.transparentCard {
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px;
}
 
/* IMAGE BG LOGIN */
.backgroundsignup {
  /* background-image: url('./bsuMain.jpg'); */
  background: linear-gradient(to bottom, #005c97, #363795);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Set height to cover entire viewport */
}

/* LOG OUT HOVER */
.logoutHover:hover {
  color: #dc3545;
  cursor: pointer;
}

/* LINK TEXT */
.linkText {
  color: #000;
  text-decoration: none;

}

/* REGISTRATION */
.register {
  color: #0022ff;
}

.register:hover {
  color: red;
}

.container_width {
  width: 55rem;
  border-radius: 10px;
  background-color: #ffff;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 30px;
}

/* ARROW LOGO */
.arrow {
  background-image: url('./arrowRed.svg');
  width: 4vh;
  height: 4vh;
  background-size: contain;
}

/* FORM BG */
.formbg {
  /* background-image: url('./batstateuCics.jpg'); */
  background: linear-gradient(to bottom, #D3CCE3, #E9E4F0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set height to cover entire viewport */
}

.buttonActive:active {
  background-color: #0022ff;
}

/* CARDS IN STATUSES */
.card_box {
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

.card_box:hover {
  transform: scale(0.98);
}

/* VIEW BUTTON */
.button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #007bff;
  color: #fff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.button:hover {
  background: #007bff;
  color: #fff;
}

.button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.button:hover svg {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

/* LOGOUT BUTTON */
.logoutButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(2, 153, 153);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign .logoutIcon {
  width: 17px;
}

/* text */
.logoutText {
  position: absolute;
  right: 0%;
  width: 10%;
  opacity: 0;
  color: #fff;
  font-size: 15px;
  transition-duration: .3s;
}
/* hover effect on button width */
.logoutButton:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logoutButton:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logoutButton:hover .logoutText {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.logoutButton:active {
  transform: translate(2px ,2px);
}

/* LOADER */
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-top: 300px;
  perspective: 780px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  z-index: 10;
}

.load_inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.load_inner.load_one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  animation: rotate1 1.15s linear infinite;
}

.load_inner.load_two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load_inner.load_three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

/* REACT HOOK FORM FILE UPLOADER */
.custom_file_upload {
  border: 2px dashed #000;
  height: 10rem;
  width: 30rem;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.custom_file_upload:hover {
  color: #387ADF;
  border-color: #387ADF;
  opacity: .5;
}

/* CSS Styles */
.file_name {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.file_label {
  font-size: 14px;
}

/* SUBMIT BUTTON PROPOSAL FORM */
.cssbuttons_io_button {
  background: #387ADF;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #387ADF;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons_io_button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #387ADF;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons_io_button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons_io_button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #387ADF;
}

.cssbuttons_io_button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons_io_button:active .icon {
  transform: scale(0.95);
}


/* edit button profile */
.edit_button {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
  height: 40px;
  width: 85px;
  border: none;
  color: #000;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 22px;
  font-size: 19px;
  color: #000;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.edit_button:hover {
  background: #fff;
}

.edit_button:hover .svg_icon {
  animation: lr 1s linear infinite;
}

@keyframes lr {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1px);
  }

  75% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}
.file_label_container {
  background-color: #e6f0ff; /* Light blue background color */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add some border radius for rounded corners */
  display: inline-block; /* Make the container inline-block to fit content */
}